.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height:38rem;
    width: 24rem;
    

    &__side {
        height: 48rem;
        transition: all .8s ease;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black,.15);

        &--front{
            background-color: $color-white;
            
        }

        &--back{
            transform: rotateY(180deg);
            &-1{
                background-image: linear-gradient(to right bottom,$secondary-color-light,$secondary-color-dark);
            }

            &-2{
                background-image: linear-gradient(to right bottom,$primary-color-light,$primary-color-dark);
            }

            &-3{
                background-image: linear-gradient(to right bottom,$tertiary-color-light,$tertiary-color-dark);
            }
        }
    }
    &:hover &__side--back{
        transform: rotateY(0);
    }
    &:hover &__side--front{
        transform: rotateY(-180deg);
    }

    //Front side styling
    &__picture{
        background-size: cover;
        height: 50rem;
        width: 23rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0,100% 0, 100% 85%,0 100%);
        -webkit-clip-path:polygon(0 0,100% 0, 100% 85%,0 100%);
    }

    &__heading{
        color:$color-white;
        font-family: "Anton", sans-serif;
        font-style: italic;
        text-rendering: geometricPrecision;
        line-height: 1.01086847em;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, -50%);
        @include respond(tab-port){
            font-size: 6rem;
        }
    }

    &__heading-span{
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        &--1{
            background-image:linear-gradient(to right bottom,rgba($secondary-color-light,.85),rgba($secondary-color-dark,.85));
        }
        &--2{
            background-image:linear-gradient(to right bottom,rgba($primary-color-light,.85),rgba($primary-color-dark,.85));
        }
        &--3{
            background-image:linear-gradient(to right bottom,rgba($tertiary-color-light,.85),rgba($tertiary-color-dark,.85));
        }
    }

    &__details{
        ul{
            list-style:none;
            width:80%;
            margin: 0 auto;
            li{
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                color: $color-grey-dark;

                &:not(:last-child){
                    border-bottom: 2px solid $color-grey;
                }
            }
        }
    }

    &__cta{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 90%;
    }

    &__price-box{
        text-align: center;
    }

    &__price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__price-value{
        font-size: 6rem;
        font-weight: 100;
        margin-bottom: 8rem;
    }

    @include respond(tab-port){
        height: 100%;
        width: 100%;
        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--front{
                background-color: $color-white;
            }

            &--back{
                transform: rotateY(0deg);
                clip-path: polygon(0 15%,100% 0,100% 100%,0 100%);
            }
        }

        &:hover &__side--front{
            transform: rotateY(0);
        }

        &__cta{
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding:7rem 4rem 4rem 4rem;
        }

        &__price-box{
            text-align: center;
            
        }

        &__price-value{
            font-size: 6rem;
            font-weight: 100;
            margin-bottom: 2rem;
        }
    }
}